@let items = (filesTree$| async) || null;

<main>
  <div class="flex-align mb-3">
    <div class="flex-align gap-4">
      <button
        mat-button
        class="tertiary-light shadow rounded"
        (click)="getBackList()"
      >
        <mat-icon class="btn-icon" fontIcon="redo"></mat-icon>
        رجوع
      </button>
      <p class="fs-500">
        {{ currentTitle }}
      </p>
    </div>
    <p class="fs-400 bread-crumb text-center m-0 flex-grow-1">
      {{ breadCrumbNames.join(" / ") }}
    </p>
  </div>
  <div class="tree-wrapper d-grid" *ngIf="items">
    @for (item of currentList; track $index) {
    <div
      class="tree-item tertiary-bg align-items-between d-grid py-3"
      [class.deleted]="item?.deleted"
      [class.disabled]="!item[innerListProperty]?.length"
      (click)="changeList(item)"
    >
      <div class="d-flex align-items-start gap-2">
        <div class="icon" [class]="iconBgList[getBgIndex($index)]">
          <mat-icon [fontIcon]="currentIcon"></mat-icon>
        </div>
        <div class="info-wrapper">
          <h3 class="fs-500">{{ item[nameProperty] }}</h3>
          <div class="d-flex gap-3">
            <div class="d-flex gap-2">
              <p class="fs-400 fw-bold">النوع:</p>
              <p class="fs-400">{{ itemType }}</p>
            </div>
            ,
            <div class="d-flex gap-2" *ngIf="item[innerListProperty]">
              <p class="fs-400 fw-bold">عدد العناصر:</p>
              <p class="fs-400">{{ item[innerListProperty]?.length }}</p>
            </div>
            <div class="d-flex gap-2" *ngIf="!item[innerListProperty]">
              <p class="fs-400 fw-bold">الصيغة:</p>
              <p class="fs-400">PDF</p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-align gap-2">
        <button
          mat-button
          class="tertiary-light shadow"
          *appIsAdmin
          (click)="onDelelteActionBtn(item, $event)"
        >
          <mat-icon class="btn-icon" fontIcon="delete"></mat-icon>
          حذف
        </button>
        @if (item[innerListProperty]) {
        <button
          mat-button
          class="tertiary-light shadow"
          (click)="onEditActionBtn(item, $event)"
          *appIsAdmin
        >
          <mat-icon class="btn-icon" fontIcon="edit"></mat-icon>
          تعديل
        </button>
        }
        <button
          mat-button
          class="tertiary-light shadow"
          (click)="onEditActionBtn(item, $event)"
          *ngIf="!item[innerListProperty]"
        >
          <mat-icon class="btn-icon" fontIcon="web"></mat-icon>
          عرض المستند
        </button>
      </div>
    </div>
    }
  </div>
</main>
