h2.pos-absolute {
  top: 0;
  inset-inline-start: 0;
}

.crumb-route {
  cursor: pointer;
  user-select: none;
  &:hover,
  &.active {
    color: var(--accent-color);
  }
}

.bread-crumb-text {
  padding-left: 100px;
}

@media screen and (max-width: 770px) {
  /* .page-title {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    white-space: nowrap;
  }
  .bread-crumb-text {
    margin-top: 4rem !important;
  } */
}
@media screen and (max-width: 480px) {
  .page-title {
    flex-grow: 1;
    flex-basis: 100%;
    text-align: center;
  }
}
