<nav class="p-3 radius-1 tertiary-bg flex-align mb-4">
  <div class="wrapper flex-align gap-2">
    <button
      class="tertiary-light"
      mat-fab
      aria-label="toggle the app theme"
      (click)="toggleTheme()"
    >
      <mat-icon>dark_mode</mat-icon>
    </button>
    <button
      class="tertiary-light tb-d-none"
      mat-fab
      aria-label="toggle the app theme"
      (click)="logout()"
    >
      <mat-icon>logout</mat-icon>
    </button>
    <button
      class="tertiary-light d-md-none"
      id="nav_menu_btn"
      mat-fab
      aria-label="toggle the app theme"
      (click)="doOpenNavMenu()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="d-md-none flex-grow-1"></div>
  <ul
    class="links-wrapper flex-align justify-content-center gap-2 flex-grow-1"
    [class.active]="openNavMenu"
    (click)="openNavMenu = false"
  >
    <div class="d-flex d-md-none">
      <button mat-button class="transparent-btn" (click)="openNavMenu = false">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <li>
      <a class="scale" routerLink="users" routerLinkActive="active">
        المستخدمين
      </a>
    </li>
    <li>
      <a class="scale" routerLink="owners" routerLinkActive="active">
        ملاك المزارع
      </a>
    </li>
    <li>
      <a class="scale" routerLink="realestates" routerLinkActive="active">
        المزارع
      </a>
    </li>
    <li>
      <a class="scale" routerLink="projects" routerLinkActive="active">
        المشاريع
      </a>
    </li>
    <li>
      <a class="scale" routerLink="cities" routerLinkActive="active"> المدن </a>
    </li>
    <li>
      <a class="scale" routerLink="files-tree" routerLinkActive="active">
        الملفات
      </a>
    </li>
    <div class="px-2 d-grid">
      <button
        class="tertiary-light d-md-none logout-btn mb-3 px-2"
        mat-fab
        aria-label="toggle the app theme"
        (click)="goToProfile()"
      >
        <mat-icon>account_circle</mat-icon>
        ملف المستخدم
      </button>
      <button
        class="tertiary-light d-md-none logout-btn px-2"
        mat-fab
        aria-label="toggle the app theme"
        (click)="logout()"
      >
        <mat-icon>logout</mat-icon>
        تسجيل خروج
      </button>
    </div>
  </ul>

  <div class="logo scale">
    <img src="/images/logo.png" alt="" />
  </div>
</nav>

<app-breadcrumb></app-breadcrumb>
