<mat-dialog-content class="custom-dialog">
  <div class="roud-border mb-3" style="margin-inline: auto">
    <mat-icon class="icon" fontIcon="error"></mat-icon>
  </div>
  <h2 class="fs-500 text-center">تحذير!</h2>
  <h2 class="fs-500 text-center">{{ message }}</h2>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    class="tertiary-light shadow"
    mat-button
    type="button"
    (click)="close()"
  >
    إغلاق
  </button>
  <button class="accent" mat-button (click)="close(true)">تأكيد</button>
</mat-dialog-actions>
