<main>
  <div class="flex-align tb-flex-wrap justify-content-between gap-2 mb-3">
    <div class="flex-grow-1 d-flex">
      <mat-form-field class="example-full-width">
        <mat-label>بحث باسم المالك /الرقم الوطني/الهاتف</mat-label>
        <input
          matInput
          placeholder="اسم المالك, الرقم الوطني/الهاتف..."
          [(ngModel)]="filterObject.SearchValue"
          (ngModelChange)="onSearchChange($event)"
        />
      </mat-form-field>
    </div>
    <button class="tertiary" mat-fab extended (click)="openUpsertOwner()">
      <mat-icon>add</mat-icon>
      إضافة مالك
    </button>
  </div>
  <ag-grid-angular
    [rowData]="(ownersList$ | async) || []"
    [columnDefs]="colDefs"
  />
</main>
